
body {
    font-family: 'Helvetica, Arial, sans-serif';
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    font-family: 'Lora, serif';
    font-size: 2em;
    text-align: center;
    padding: 20px;
    background-color: #EFC69B;
    color: #473144;
}

nav {
    border-top: 1px solid #AF1B3F;
    border-bottom: 1px solid #AF1B3F;
}

.main-nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: end;
    margin: 0;
    padding: 10px;
}

.main-nav li {
    margin: 0 10px;
}

.main-nav a {
    text-decoration: none;
    color: #473144;
    font-size: 1.2em;
}

.main-nav a:hover {
    color: #AF1B3F;
}


main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
}

article {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filters {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #EFC69B;
    color: #473144;
}


.skiptocontent a {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #473144;
    color: #fff;
    padding: 10px;
    z-index: 1000;
}

.skiptocontent a:focus {
    top: 0;
}
