@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: 'Arial', Helvetica, sans-serif;
    --secondary-font: 'Mooli', sans-serif;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    color: var(--text-dark);
    background-color: var(--text-light);
}

header, footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 10px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav a {
    color: var(--accent-color);
    text-decoration: none;
}

@media screen and (max-width: 700px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 700px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    button.menu {
        display: none;
    }
}

@media screen and (min-width: 500px) {
    header {
        background-color: black;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 1rem;
    }
}